.todo_pannel {
    height: 100vh;
    overflow-y: hidden;
    display: flex;
}

.menu_open_icon_wrapper {
    width: 90%;
    position: absolute;
    top: 0;
    left: 5%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu_open_icon {
    cursor: pointer;
    font-size: 18px;
}

.todo_content {
    width: calc(100% - (20% - 40px));
    background-image: url(../../images/todo-background/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100% - 50px);
    margin-top: 50px;
    border-radius: 10px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.4s;
}

.add_todo {
    width: 90%;
    box-shadow: 0 0 100px #0000009d;
    position: absolute;
    bottom: 50px;
}

.add_todo input {
    width: calc(100% - 80px);
    padding: 20px 20px 20px 60px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
}

.add_todo span {
    position: absolute;
    left: 20px;
    font-size: 18px;
    top: 17px;
    font-family: Poppins;
}

.tasks_title {
    position: absolute;
    top: 50px;
    width: 90%;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.tasks_title span {
    font-size: 30px;
    font-family: PoppinsBold;
}

.time {
    display: flex;
    align-items: center;
    font-family: PoppinsBold;
}

.time_wrapper div {
    display: flex;
    font-size: 30px;
}

.minutes {
    position: relative;
    bottom: 15px;
}

.am_pm {
    font-size: 14px;
    margin: -15px 0 0 10px;
}

.just_date {
    font-family: PoppinsBold;
    font-size: 14px;
}

.todos_container {
    width: 90%;
    height: calc(100% - 300px);
    overflow-y: auto;
}
.todos_container::-webkit-scrollbar {
    width: 0;
}
.todos_container::-webkit-scrollbar-track {
    background: none;
}
.todos_container::-webkit-scrollbar-thumb {
    background: none;
}
.todos_container::-webkit-scrollbar-thumb:hover {
    background: none;
}

.todo_box {
    width: calc(100% - 40px);
    padding: 15px 20px 15px 20px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 10px;
}

.todo_left_section {
    display: flex;
    width: 100%;
}

.done_btn {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
    transition: 0.2s;
    font-size: 14px;
    margin-right: 10px;
}
.done_btn:hover {
    background-color: #000;
    color: #fff;
}

.todo_title {
    font-size: 14px;
    width: calc(100% - 75px);
}

.todo_right_section {
    display: flex;
}

.star_btn {
    margin-right: 20px;
    cursor: pointer;
    transition: 0.2s;
    color: #ffb22ca2;
}
.star_btn:hover {
    color: #ffb22c;
}

.delete_btn {
    cursor: pointer;
    color: #ff4545a2;
}
.delete_btn:hover {
    color: #ff4545;
}

.black_box {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #00000095;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}
.black_box.show {
    display: block;
}

@media (max-width: 1440px) {
    .add_todo input {
        width: calc(100% - 70px);
        padding: 20px 20px 20px 50px;
        font-size: 16px;
    }

    .add_todo span {
        left: 18px;
        font-size: 16px;
        top: 17px;
    }

    .tasks_title span {
        font-size: 24px;
    }

    .time_wrapper div {
        font-size: 24px;
    }

    .minutes {
        bottom: 10px;
    }

    .am_pm {
        font-size: 12px;
        margin: -10px 0 0 10px;
    }

    .just_date {
        font-size: 12px;
    }

    .todos_container {
        height: calc(100% - 250px);
    }

    .done_btn {
        width: 15px;
        height: 15px;
        font-size: 12px;
        margin: 0 10px 0 0;
    }

    .todo_title {
        font-size: 12px;
    }

    .star_btn {
        margin-right: 15px;
        font-size: 14px;
    }

    .delete_btn {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .todo_content {
        width: 100%;
        margin-top: 50px;
        border-radius: 0;
    }
}

@media (max-width: 500px) {
    .add_todo input {
        width: calc(100% - 55px);
        padding: 17px 15px 17px 40px;
        font-size: 14px;
    }

    .add_todo span {
        left: 15px;
        font-size: 14px;
        top: 15px;
    }

    .todo_title {
        width: calc(100% - 60px);
    }
}