@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: PoppinsBold;
    src: url(../fonts/Poppins-Bold.ttf);
}

body {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    user-select: none;
}
